<div style="display: flex">
	<mat-card class="example-card" fxLayout="row">
	  <mat-card-header>
	    <div mat-card-avatar class="example-header-image"></div>
	    <mat-card-title>Shiba Inu</mat-card-title>
	    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
	  </mat-card-header>
	  <!-- http://3.bp.blogspot.com/-vkHMT0LA91A/UGR3k_mv-lI/AAAAAAAABCw/k3gVPQqGIuc/s1600/cactuar.png -->
	  <img mat-card-image src="http://1.bp.blogspot.com/-99EH2exwEg8/VF9Md6_UTEI/AAAAAAAABUM/4UCrnaYvBVo/s1600/Wario.png" alt="Photo of a Shiba Inu">
	  <mat-card-content>
	    <p>
	      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
	      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
	      bred for hunting.
	    </p>
	  </mat-card-content>
	  <mat-card-actions>
	    <button mat-button>LIKE</button>
	    <button mat-button>SHARE</button>
	  </mat-card-actions>
	</mat-card>
	<mat-card class="example-card" fxLayout="row">
	  <mat-card-header>
	    <div mat-card-avatar class="example-header-image"></div>
	    <mat-card-title>Shiba Inu</mat-card-title>
	    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
	  </mat-card-header>
	  <img mat-card-image src="https://alarcosjuegoderol.files.wordpress.com/2013/03/clerigo.png" alt="Photo of a Shiba Inu">
	  <mat-card-content>
	    <p>
	      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
	      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
	      bred for hunting.
	    </p>
	  </mat-card-content>
	  <mat-card-actions>
	    <button mat-button>LIKE</button>
	    <button mat-button>SHARE</button>
	  </mat-card-actions>
	</mat-card>
	<mat-card class="example-card" fxLayout="row">
	  <mat-card-header>
	    <div mat-card-avatar class="example-header-image"></div>
	    <mat-card-title>Shiba Inu</mat-card-title>
	    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
	  </mat-card-header>
	  <img mat-card-image src="https://www.websmultimedia.com/style/img/servicios/ilustracion-juegos.png" alt="Photo of a Shiba Inu">
	  <mat-card-content>
	    <p>
	      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
	      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
	      bred for hunting.
	    </p>
	  </mat-card-content>
	  <mat-card-actions>
	    <button mat-button>LIKE</button>
	    <button mat-button>SHARE</button>
	  </mat-card-actions>
	</mat-card>
</div>
<profile-table></profile-table>
