.example-card {
  width: 400px;
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.mat-card-subtitle {
  color: white !important;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.demo-card-container {
  display: flex;
  flex-flow: column nowrap;
}